<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="laravel" translate="label" sortOrder="600">
            <label>Laravel</label>
        </tab>
        <section id="custom" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Custom Log API</label>
            <tab>laravel</tab>
            <resource>Laravel_Customlog::configuration</resource>
            <group id="general" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Log Configuration</label>
                <field id="enabled" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable API</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_url" translate="label comment" type="text" sortOrder="30" showInDefault="1">
                    <label>Laravel Customlog API URL</label>
                </field>
				<field id="website_name" translate="label comment" type="text" sortOrder="31" showInDefault="1">
                    <label>Website Name</label>
                </field>
            </group>
        </section>
    </system>
</config>
