<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webp>
            <setting>
                <enable>1</enable>
                <quality>75</quality>
            </setting>
        </webp>
    </default>
</config>