<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="savedcards" translate="label" type="text" sortOrder="100" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Saved Credit Card - Meetanshi</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Title</label>
                    <comment>Payment method title displayed on Checkout Page</comment>
                </field>
                <field id="show_logo" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Show Saved Credit Card Logo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show Saved Credit Card Logo on Checkout Page</comment>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                </field>
                <field id="cctypes" translate="label" type="multiselect" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Credit Card Types</label>
                    <source_model>Meetanshi\SavedCards\Model\Source\Cctype</source_model>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="6" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="7" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="cc_info_backend" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Show CC Info In Backend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, full credit card information will be shown when viewing an order.</comment>
                </field>
                <field id="show_encrypted" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Show CC Info Encrypted</label>
                    <depends>
                        <field id="cc_info_backend">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, encrypted credit card information will be shown when viewing an order.</comment>
                </field>
                <field id="hide_cc_info" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Hide CC Info ("Masked Mode")</label>
                    <depends>
                        <field id="show_encrypted">0</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, credit card information will be hidden when viewing an order. Clicking "Show" will then show the full credit card information.</comment>
                </field>
                <field id="cc_wipe_button" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Show Wipe Link In Backend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, a "Wipe" Link will be shown when viewing an order. By clicking it, the credit card information is wiped from the database.</comment>
                </field>

                <field id="instructions" translate="label" type="textarea" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Instructions</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum Order Total</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
