<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Dynamic\Notifyme\Api\NotifystockManagementInterface" type="Dynamic\Notifyme\Model\NotifystockManagement"/>
</config>
