<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_SeoCore
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss_seo_suite" translate="label" sortOrder="300" class="bss_commerce_seo">
            <label><![CDATA[Bss Commerce SEO]]></label>
        </tab>
        <section id="bss_seo_core" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>SEO Core</label>
            <tab>bss_seo_suite</tab>
            <resource>Bss_SeoCore::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable_h1_title" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Custom H1 Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Version 1.0.3<br/>This new heading 1 will replace the original h1 of category, CMS page & product page]]></comment>
                </field>
                <field id="google_verification" translate="label" type="text" sortOrder="40" showInDefault="1">
                    <label>Google  Site Verification Code</label>
                </field>
                <field id="bing_verification" translate="label" type="text" sortOrder="40" showInDefault="1">
                    <label>Bing Verification Code</label>
                </field>
            </group>
            <group id="recommended_solutions" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[<a href="https://bsscommerce.com/magento-2-seo-extension.html" target="_blank" style="background: #f0f0f0; padding: 20px; border-radius: 4px">
                    <p style="font-size: 14px;">Want a complete SEO solution? We also offer a <font color="blue">SEO Suite</font>,
                    including all necessary modules to make your site SEO-friendly, boost ranking and increase traffic!</p></a>]]>
                </label>
                <fieldset_css>paypal-recommended-header bss_footer_seo</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Expanded</frontend_model>
            </group>
        </section>
    </system>
</config>