<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="change_price_params_in_search_criteria"
                type="LuxuryUnlimited\ConvertCurrencyCode\Plugin\ConvertStoreCurrency" sortOrder="10"/>
    </type>
</config>
