<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="token" translate="label" sortOrder="1000">
            <label>Order Detail Api Token</label>
        </tab>
        <section id="dynamic_orderstatus" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Token</label>
            <tab>token</tab>
            <resource>Dynamic_OrderStatus::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="oathtoken" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Detail Api Token</label>
                    <source_model>Dynamic\OrderStatus\Controller\Token</source_model>
                </field>
            </group>
        </section>
    </system>
</config>