<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="update_order_items_price_by_store_currency"
                type="LuxuryUnlimited\OrderApi\Plugin\Model\OrderRepositoryPlugin" sortOrder="20"/>
    </type>
</config>
