<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sizeapi" translate="label" sortOrder="200">
            <label>Dynmaic</label>
        </tab>
        <section id="messagevalidationsection" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Message Validation</label>
            <tab>sizeapi</tab>
            <resource>Dynamic_Customization::customization_config</resource>
            <group id="messagevalidation" translate="label,comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Message Validation Configuration</label>
                <field id="success" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Disable All the Success Message</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="error" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Disable All the Error Message</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>