<?xml version="1.0"?>
<!-- /**
* Mage Tracer
*
* @category Magetracer
* @package Magetracer_StoreOptimization
* @author Magetracer
* @copyright Copyright (c)  Mage Tracer (https://www.magetracer.com)
* @license https://www.magetracer.com/license.html
*/ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magetracer_StoreOptimization::settings" title="Store Optimization Config" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>