<?xml version="1.0"?>
<!--
/** Grid adminhtml routes xml
 * @category  Firas
 * @package   Firas_Grid
 * @author    Firas
 * @copyright Copyright (c) 2010-2016 Firas Software Private Limited (https://firas.com)
 * @license   https://store.firas.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="grid" frontName="grid">
            <module name="Firas_Grid" />
        </route>
    </router>
</config>
