<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="jajuma" sortOrder="999" translate="label">
            <label>Jajuma</label>
        </tab>
        <section id="webp" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>WebP Image Optimization</label>
            <tab>jajuma</tab>
            <resource>Jajuma_WebpImages::config_jajuma_webp</resource>
            <group id="setting" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General Configuration</label>
                <field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Optimize Image</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="check_transparency" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="select">
                    <label>Disable with transparent images</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field  id="clear_cache_webp" translate="label comment" type="button" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clear Webp Image</label>
                    <comment><![CDATA[This button will clear all the generated webp images.]]></comment>
                    <frontend_model>Jajuma\WebpImages\Block\Adminhtml\System\Config\ClearButton</frontend_model>
                </field>
            </group>
            <group id="advance_mode" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <label>Conversion Configuration</label>
                <field id="convert_tool" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                    <label>Conversion Tool</label>
                    <comment>Select the tool to be used for WebP image conversion</comment>
                    <source_model>Jajuma\WebpImages\Model\Config\Source\Tool</source_model>
                </field>
                <field id="path_to_cwebp" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Path to cwebp</label>
                    <validate>validate-cwebp-path</validate>
                    <comment><model>Jajuma\WebpImages\Model\Config\Comment</model></comment>
                    <depends>
                        <field id="convert_tool">cwebp</field>
                    </depends>
                </field>
                <field id="path_to_imagemagick" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Path to imagemagick</label>
                    <validate>validate-imagemagick-path</validate>
                    <comment>Define the path of imagemagick command or leave it empty to use global command "convert". Example: "/usr/local/bin/convert"</comment>
                    <depends>
                        <field id="convert_tool">convert</field>
                    </depends>
                </field>
                <field id="quality" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                    <label>WebP Quality</label>
                    <validate>validate-number validate-zero-or-greater validate-digits</validate>
                    <comment>Define the compression factor applied for webp conversion (from 0 to 100)</comment>
                </field>
                <field id="cwebp_command" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100" translate="label" type="text">
                    <label>Cwebp Custom Command</label>
                    <validate>validate-cwebp-command</validate>
                    <comment><![CDATA[Example command: -alpha_q 100 -z 9 -m 6 -segments 4 -sns 80 -f 25 -sharpness 0 -strong -pass 10 -mt -alpha_method 1 -alpha_filter fast -o]]></comment>
                    <depends>
                        <field id="convert_tool">cwebp</field>
                    </depends>
                </field>
                <field id="imagemagick_command" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="200" translate="label" type="text">
                    <label>Imagemagick Custom Command</label>
                    <validate>validate-imagemagick-command</validate>
                    <comment><![CDATA[Example command: -quality 100 -define webp:lossless=true,method=6]]></comment>
                    <depends>
                        <field id="convert_tool">convert</field>
                    </depends>
                </field>
                <field id="test_button" translate="label comment" type="button" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Jajuma\WebpImages\Block\Adminhtml\System\Config\TestButton</frontend_model>
                </field>
            </group>
            <group id="professional_mode" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <label>Advanced Configuration</label>
                <field id="message" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <frontend_model>Jajuma\WebpImages\Block\Adminhtml\System\Config\AdvancedConfiguration</frontend_model>
                    <comment><![CDATA[
                <div class="messages">
        <div class="message message-warning message-demo-mode">
    <b>Note: </b><br><span>For most sites following configs are not needed.<br>
Please use only after checking the manual <a href="https://www.jajuma.de/en/jajuma-develop/extensions/webp-optimized-images-extension-for-magento-2" target="_blank">(Link)</a> and understand what you are doing.
</span>        </div>
    </div>
                ]]></comment>
                </field>
                <field id="exclude_img" translate="label comment" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>Blacklist</label>
                    <comment><![CDATA[<span><b>Exclude images</b> from WebP Conversion by a list of comma separated strings (or RegEx).<br>
If the img tag match with any of the strings above, that img tag won't be converted.<br>
Note: img-tags with <i>data-nowebp="true"</i> are excluded from conversion by default.</span>]]></comment>
                </field>
                <field id="src_tag" translate="label comment" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>Custom src-tag</label>
                    <comment><![CDATA[<span>By default we look at the <b>src</b> attribute to get the image URL and use this for WebP conversion.<br>
If you use some custom attribute for img URL, e. g. in case you are using lazyload on your site, you can use this config to have this converted first.<br>
Example: If your lazyload function uses <b>data-src</b>, just input <i>data-src</i> into this config.<br>
For img tags having a data-src we will then use the data-src image URL for WebP conversion.<br>
For img tags having no data-src, we will still use src attribute for conversion.
</span>]]></comment>
                </field>
                <field id="srcset_tag" translate="label comment" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                    <label>Custom srcset-tag</label>
                    <comment><![CDATA[<span>By default we add picture tags using <b>srcset</b> tags.<br>
You can use this config to change this behaviour, e. g. in case you are using lazyload on your site.<br>
Example: If your lazyload function uses <b>data-srcset</b>, just input <i>data-srcset</i> into this config.<br>
The extension will then add picture tags using data-srcset.<br>
!!! Please ensure your lazyload script does support lazyloading for picture-tags !!!
</span>]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>