<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Dynamic\Mytickets\Api\MyticketsManagementInterface" type="Dynamic\Mytickets\Model\MyticketsManagement"/>
    <preference for="Dynamic\Mytickets\Api\GetMyticketsListInterface" type="Dynamic\Mytickets\Model\GetMyticketsListModel" />
</config>
