<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="redirectcontactus" id="redirectcontactus">
            <module name="Custom_RedirectContactus"/>
        </route>
    </router>
</config>