<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="AppDownload" translate="label" sortOrder="110" class="appdownload-tab">
            <label>App download</label>
        </tab>
        <section id="appdownload" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>App Download</label>
            <tab>AppDownload</tab>
            <resource>LuxuryUnlimited_App::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="link" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App Download Link</label>
                    <comment>Provide app download link here</comment>
                </field>
                <field id="template_number" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email template ID for send link</label>
                    <comment>Enter Email template id(number of template id) or use standart template - "app_link_email"</comment>
                </field>
            </group>
        </section>
    </system>
</config>
